<%- include("templates/encabezado") %>
    <h1>Inicio</h1>
    <%

        var i=100;
        console.log(i);

    %>

    <h2><%= nombre %></h2>
    <h3>Profesion: <%= profesion %></h3>
    <h3>Categoria: <%= categoria %></h3>
    <h3>Tel1: <%= telefonos.tel1 %></h3>
    <h3>Tel2: <%= telefonos.tel2 %></h3>
    <h3>Correo1: <%= correos.correo1 %></h3>
    
<%- include("templates/pie") %>